
@import "./common.module.scss";

// header menu
.ant-layout-header {
    .ant-menu .ant-menu-item:hover {
        color: $header-font-color !important;
    }

    // 子菜单 hover 样式
    .ant-menu .ant-menu-submenu-title:hover {
        color: $header-font-color !important;
    }

    // 禁用的菜单样式
    .ant-menu .ant-menu-item-disabled {
        color: $header-disabled-font-color !important;
    }

    // 选中的菜单样式
    .ant-menu .ant-menu-item-selected {
        // background-color: $header-active-bg-color !important;
        color: $header-active-font-color !important;
    }

    // 选中的菜单hover样式 
    .ant-menu .ant-menu-item-selected:hover {
        // background-color: $header-active-bg-color !important;
        color: $header-hover-font-color !important;
    }

    .ant-menu-horizontal >.ant-menu-item-selected::after {
        border-bottom-color: $header-active-bg-color !important;
    }

    .ant-menu-horizontal >.ant-menu-item:hover::after {
        border-bottom-color: $header-active-bg-color !important;
    }
}

// sider menu
.ant-layout-sider {
    .ant-menu .ant-menu-item:active {
        color: $sider-active-bg-color !important;
        background-color: $sider-active-bg-color !important;
    }
    
    .ant-menu .ant-menu-item:hover {
        color: $sider-font-color !important;
    }

    // 子菜单 hover 样式
    .ant-menu .ant-menu-submenu-title:hover {
        color: $sider-font-color !important;
    }

    // 选中的菜单样式
    .ant-menu .ant-menu-item-selected {
        background-color: $sider-active-bg-color !important;
        color: $sider-active-font-color !important;
    }

    // 选中的菜单hover样式 
    .ant-menu .ant-menu-item-selected:hover {
        background-color: $sider-active-bg-color !important;
        color: $sider-hover-font-color !important;
    }

    .ant-menu-horizontal >.ant-menu-item-selected::after {
        border-bottom-color: $sider-active-bg-color !important;
    }

    // 禁用菜单样式
    .ant-menu .ant-menu-item-disabled {
        color: $sider-disabled-font-color !important;
    }
}