$color1: #ffffff;
$color2: #424242;
$color3: #0080ff;
$color4: #2200ff;
$color5: #727272;


$logoWidth: 250px;                    // logo位置宽度
$headerMenuWidth: calc(100% - 250px); // 顶部菜单宽度
$siderWidth: 250px;                   // 侧边栏宽度

// header & header menu
$header-bg-color: $color1;
$header-font-color: $color2;
$header-hover-font-color: $color2;
$header-active-font-color: $color2;
$header-active-bg-color: $color3;
$header-active-bd-color: $color3;
$header-disabled-font-color: rgba(0, 0, 0, 0.55);      

// sider & sider menu
$sider-bg-color: $color2;
$sider-font-color: $color1;
$sider-hover-font-color: $color1;
$sider-active-font-color: $color1;
$sider-active-bg-color: $color3;
$sider-active-bd-color: $color3;
$sider-disabled-font-color: rgba(255, 255, 255, 0.55); 

// 导出使用变量，可以用作绑定 width={commonStyle.siderWidth}
// https://nextjs.org/docs/pages/building-your-application/styling/sass 
:export {
    siderWidth: $siderWidth;
}