
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 解决 antd 按钮使用 icon 不居中的问题  */
svg {
  vertical-align: baseline;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
