<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.smfast.mapper.UserLoginMapper">
    <select id="loginByUser" parameterType="map" resultType="com.as.smfast.dao.UserDao">
        select id,username,mobile,paddword,create_time by tb_user where username = ${username};
    </select>
</mapper>