@import "./common.module.scss";


.layout {
    height: 100%;
}
.header {
    padding: 0px;
    background: $header-bg-color;
}
.content {
    .sider {
        background: $sider-bg-color;
        padding: 20px 10px;
        position: relative;
        .siderCollapsed {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 45%;
            right: -25px;
            transform: translateY(-25px);
            background: #fff;
            border-radius: 50%;
        }
    }
}
.logo {
    width: $logoWidth;
}
