@import "./common.module.scss";
.headerMenu {
    width: $headerMenuWidth;
    background: $header-bg-color;
    color: $header-font-color;
}
.siderMenu {
    height: 100%;
    background: $sider-bg-color;
    color: $sider-font-color;
}